.git
.env
build
install
log
third_party
inner_docs
gpu_ros_managed
gpu_ros_object_detection/gpu_ros_detection_common
gpu_ros_object_detection/gpu_ros_onnx_inference
gpu_ros_object_detection/gpu_ros_rtdetr
gpu_ros_object_detection/gpu_ros_yolov8
gpu_ros_object_detection/gpu_ros_detection_validation
gpu_ros_object_detection/gpu_ros_nvidia_reference
gpu_ros_object_detection/benchmarks
gpu_ros_object_detection/tools
gpu_ros_object_detection/external
gpu_ros_object_detection/apptainer
skills
docs
__pycache__
*.pyc
