.env

inner_docs/

.ccls-cache/
.ccls

__pycache__/
*.pyc

# colcon workspace artifacts
/build/
/install/
/log/
/third_party/
/.ovg/

# colcon artifacts accidentally created under benchmark_results
/migrated_packages/benchmark_results/build/
/migrated_packages/benchmark_results/install/
/migrated_packages/benchmark_results/log/
